/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-primary-color: #1890ff;
  --button-primary-shadow: 0 2px 0 rgba(0 0 0 / 4.3%);
  --text-base-color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button {
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--button-primary-color);
  box-sizing: border-box;
  box-shadow: var(--button-primary-shadow);
  border-radius: 2px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;

  &:hover:enabled {
    background: var(--button-primary-color);
    color: var(--text-base-color);
  }
}
